body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 12px;

    width: 300px;

    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;

    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;

    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #0078ff;
    color: white;

    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.9;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}